.createCont {
    background-color: #ddd;
    border-radius: 10px;
    width: 40%;
    max-height: 80%;
    margin-left: 30%;
}

.form {
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-left: 30px;
}

.formTitle {
    margin-top: 100px;
    text-align: center;
}

.create {
    background-color: #008bb9;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 107%;
    opacity: 0.9;
}

input[type=text],
input[type=number],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus {
    outline: none;
    border-radius: 10px;
}

.error{
    color:red;
}